<div class = 'col-md-4 offset-4 mt-5' *ngIf = 'this.isLogin'>
  <h5>You are logged in</h5>

  <div class = 'col-md-4 offset-4 mt-5' *ngIf = 'this.isLogin'>
    <h1>You are logged in</h1>
    <button class = 'btn btn-outline-info' (click) = 'logout()'>Log-out</button>
  </div>

  <div class = 'row m-0 w-100'>
    <div class = 'col-md-4 offset-4 mt-5' *ngIf = 'this.isLogin'>
      <h4>Register</h4>
      <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
        <div class = 'form-group'>
          <input class = 'form-control' type = "text" name = "user_name" placeholder = "Username" ngModel required>
        </div>
        <div class = 'form-group'>
          <input class = 'form-control' type = "email" name = "user_email" placeholder = "Email" ngModel required>
        </div>
        <div class = 'form-group'>
          <input class = 'form-control' type = "password" name = "user_password" placeholder = "Password" ngModel required>
<!--          <input type="text" class="form-control" name="productName{{i}}"
                 [ngClass]="{'is-invalid': myform.submitted && ProductName.invalid}" required>-->
        </div>
        <input class= 'btn btn-outline-info' type = "submit" value = "Register">
        <button type="button" class="btn btn-secondary btn-lg btn-block"
                (click)="myform.valid ? onSubmit(myform) : ''">Register</button>
      </form>
    </div>
  </div>
</div>

