
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kt-Kurier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">KT-KURIER</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Home</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/gallery">Gallery</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/contact">Contact</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- Gallery -->
  <div class=" container">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />

        <img
          src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />

        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />

        <img
          src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
      </div>
    </div>
    <!-- Gallery -->
  </div>


</div>

</body>
</html>


